<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  
  <filter>
    <filter-name>UIControllerFilter</filter-name>
    <filter-class>com.dksoftware.combo.UIControllerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UIControllerFilter</filter-name>
    <servlet-name>Combinatorius</servlet-name>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Combinatorius</servlet-name>
    <servlet-class>com.dksoftware.combo.ComboServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Combinatorius</servlet-name>
    <url-pattern>/combo/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
